body .container {
  color: #efefef;
  font-family: "Nanum Gothic", sans-serif;
  width: 940px;
}

h1 {
  font-size: 48px;
}

.main {
  background: linear-gradient(to left bottom, #dbdbdb, #aaaaaa);
  border-radius: 10px;
  margin: 50px auto;
  padding: 60px 80px 20px;
}

button.geolocation {
  border: 2px solid #efefef;
  display: block;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  right: 32px;
  top: 16px;
}

button.geolocation:hover {
  background: #efefef;
  border: 2px solid #efefef;
  color: #6d7278;
}

.current-weather {
  background: none;
  border: 2px solid #efefef;
  border-radius: 5px;
  height: 250px;
  padding-left: 20px;
  padding-top: 20px;
  width: 380px;
}

.current-temp {
  height: 100px;
  width: 120px;
}

.icon {
}

.temp {
  font-size: 60px;
  line-height: 52px;
}

.desc {
  font-size: 16px;
}

.current-details,
.forecast {
  background: #efefef;
  border: none;
  border-radius: 5px;
  color: #6d7278;
  font-size: 13px;
  padding: 36px;
  width: 300px;
}

.current-details {
  height: 220px;
  position: relative;
  top: -50px;
}

.details-data {
  width: 200px;
}

.other-weather {
  text-align: right;
}

.units {
  color: #6d7278;
  font-size: 13px;
  position: relative;
  text-align: center;
  top: -50px;
}

.units a {
  color: #6d7278;
  cursor: default;
  text-decoration: none;
}

.search-form {
  height: 38px;
  width: 300px;
}

#search-input {
  background: #efefef;
  border: 2px solid #efefef;
  border-radius: 5px 0 0 5px;
  color: #6d7278;
}

.search-form button {
  border: 2px solid #efefef;
}

.search-form button:hover {
  background: #efefef;
  border: 2px solid #efefef;
  color: #6d7278;
}

.forecast {
  border-radius: 5px;
  height: 480px;
}

.forecast-row {
  margin-left: auto;
  margin-right: auto;
}

.forecast-time,
.forecast-temp {
  position: relative;
  top: 30px;
}

.forecast-icon {
  width: 80px;
}

.credits {
  color: #6d7278;
  font-family: "Nanum Gothic", sans-serif;
}

.github-source {
  color: #6d7278;
}
